body{
    text-align: center;
    background: linear-gradient(#cc2b5e, #753a88);
}
section:first-child{
    box-sizing: border-box;
    background-color:#cc2b5e;
    padding: 24px;
    margin: 0;
}
section:nth-child(2){
    box-sizing: border-box;
    background-color:#a12469;
    padding: 24px;
    margin-top: 24px;
}
h1{
    
    background-color: rgb(255, 0, 64);
    border-radius: 25px;
    padding: 24px;
    font-size: 50px;
    margin: 0 auto;
    text-decoration: underline;
}
h2{
    text-align: justify;
    font-size: 40px;
}
h3{
    background-color: rgb(255, 0, 64);
    padding: 24px;
    font-size: 35px;
    border-radius: 25px;
    width: 350px;
    text-decoration: underline;
}
p{
    font-size: 30px;
    text-align: left;
    margin: 24px;
    padding-left: 24px;
    font-weight: bold;
}
article{
    background-color: #753a88;
    padding: 24px;
    margin-top: 24px;
}
button{
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 24px;
    margin: 16px;
}
button:first-of-type{
    background-color: rgb(255, 0, 64);
    color: white;
}
button:last-of-type{
    background-color: #753a88;
}