body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
section{
    margin: 0 auto;
    text-align: center;
}
section:nth-child(1){
    width: 50%;
}
section:nth-child(2){
    box-sizing: border-box;
    width: 70%;
    background-color: black;
    border-radius: 15px;
    padding: 80px;
    position: relative;
    /* left: 50%;
    transform: translate(-50%); */
}
/* div{
    position: relative;
    box-sizing: border-box;
} */
article{
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    background-color: orange;
    border-radius: 15px; 
    padding: 50px;
    margin-top: 32px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    text-align: justify;
    color: white;
    font-size: 40px;
    margin-top: 0;
}
span{
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
p{
    text-align: justify;
    font-size: 35px;
    color: gray;
}
article p{
    color: white;
    margin: 0;
}
.button{
    position: absolute;
    bottom: 10%;
    margin-top: 24px;
}
button{
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 24px;
    margin-right: 20px;
    margin-bottom: 16px;
}
button:first-of-type{
    background-color: rgb(235, 91, 39);
}
button:last-of-type{
    background-color: rgb(245, 0, 245);
}